.venv/
venv/
ENV/
env/
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.ipynb_checkpoints/
build/
.build/
dist/
*.o
*.so
*.dylib
*.dll
*.pyd
*.a
*.lib
data/
*.csv
*.txt
!CMakeLists.txt
*.jsonl
*.pt
*.pth
*.bin
*.onnx
.DS_Store
.AppleDouble
.LSOverride
.vscode/
.idea/
*.swp
*.swo
train/